.PostBannerContainer {
    //Size
    width: 100%;
    height: 300px;


    //Display
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;


    //Color
    background-color: rgb(75, 75, 75);


    //Header
    .Header {
        //Size
        width: 100%;


        //Padding
        padding: 10px;


        //Border
        border: 2px solid black;
    }


    //Banners
    .Banners {
        //Size
        width: 100%;

        //Position
        margin-top: 20px;


        //Padding
        padding: 10px;

        //Overflow
        overflow-y: scroll;


        //Border
        border: 2px solid black;
    }
}