@import '../../StyleConstants.scss';

$upload-button-color: yellowgreen;

.CreateComment {
    //Size
    width: 100%;
    height: 250px;


    //Position
    margin-bottom: 20px;


    //Flex
    display: flex;
    flex-direction: row;


    //Border
    border: 2px solid $main-color-8;
    border-radius: 20px;


    //Color
    background-color: $main-color-9;


    //Main
    .Main {
        //Flex
        display: flex;
        flex-direction: row;
        flex-grow: 7;


        //Border
        border-right: 2px solid $main-color-8;


        //UserInformation
        .UserInformation {
            //Flex
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-width: 250px;


            //Padding
            padding: 10px;


            //Border
            border-right: 2px solid $main-color-2;


            //UserNameLabel
            .UserNameLabel {

                //Font
                font-family: $roboto;
                font-weight: 400;
                font-size: 20px;


                //Padding
                padding: 10px;


                //Display
                box-sizing: border-box;
                display: block;


                //color
                color: $main-color-8;


                //Text
                text-align: center;


                .UserName {
                    display: inline;
                    color: $main-color-5;
                }
            }


            //UserImage
            .UserImage {
                //Size
                width: 150px;
                height: 150px;


                //Position
                margin-left: auto;
                margin-right: auto;


                //Image
                object-fit: cover;


                //Color
                border: 4px solid $main-color-2;
                background-color: $main-color-5;
            }
        }


        //CommentContent
        .CommentContent {
            //Flex
            flex-grow: 2;


            //Padding
            padding: 10px;


            //Overflow
            overflow: hidden;


            //Color



            //Text
            .Text {

                //Size
                width: 100%;
                height: 100%;


                //Padding
                padding: 30px;


                //Font
                font-family: $noto;
                font-weight: 400;
                font-size: 20px;

                //Border
                border: 3px solid $main-color-2;
                outline: none;


                //Color
                background-color: $main-color-5;
                color: black;


                &:focus {
                    border: 3px solid $main-color-10;
                }
            }
        }
    }

    //ControlPanel
    .ControlPanel {

        //Flex
        flex-basis: 10%;
        display: flex;
        justify-content: center;
        align-items: center;


        //Padding
        padding: 10px;


        //ManipulationButton
        .ManipulationButton {
            //Size
            width: 100%;
            height: 90%;


            //Font
            font-size: 50px;
        }


        //Upload
        .UploadButton {
            @extend .ManipulationButton;

            //Color
            color: white;
            background-color: $main-color-11;
            border: 3px solid $main-color-4;


            &:hover {
                
                border: 3px solid $save-color-1;
                color: $save-color-1;
                cursor: pointer;
            }
        }
    }
}