@import '../../StyleConstants.scss';

.Menu
{
    //Size
    width: 100%;
    height: 75px;


    //Position
    position: fixed;
    z-index: 10;


    //Colors
    background-color: $main-color-1;


    //Border
    border: 2px solid $main-color-6;
}