@import '../../StyleConstants.scss';

.Menu {
    //Size
    width: 100%;
    height: 100px;


    //Position
    position: fixed;
    z-index: 2;


    //Flex
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    //Colors
    background-color: $main-color-1;


    //Border
    border-bottom: 1px solid $main-color-8;


    //LogoButton
    .LogoButton {

        //Size
        width: 400px;
        height: 100%;


        //Flex
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;


        //Padding
        padding: 10px;


        //Font
        font-family: $roboto;
        font-size: 60px;
        font-weight: 800;


        //Border
        //border-right: 2px solid $main-color-8;


        //Hover
        &:hover {
            cursor: pointer;
        }


        .firstPart {

            display: inline-block;
            color: $main-color-8;
        }

        .secondPart {
            display: inline-block;
            color: white;
        }
    }


    //RightPanel
    .RightPanel {

        //Size
        height: 80%;


        //Flex
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;


        //Margin
        margin-right: 20px;


        //AccountActions
        .AccountActions {

            //Size
            width: 500px;
            height: 100%;


            //Flex
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;


            //Button
            .MenuButton {

                //Size
                width: 45%;
                height: 90%;


                //Border
                border-radius: 20px;
                border: 2px solid white;


                //Font
                font-family: $roboto;
                font-size: 40px;
                font-weight: 400;


                //Flex
                display: flex;
                align-items: center;
                justify-content: center;


                //Color
                color: white;
                background-color: $main-color-11;


                //Overflow
                overflow: hidden;


                //Transistion
                transition: 0.1s;


                //Hover
                &:hover {

                    //Color
                    color: $main-color-8;
                    border-color: $main-color-8;


                    //Transistion
                    transition: 0.1s;


                    //Cursor
                    cursor: pointer;
                }


                //Active
                &:active {

                    //Color
                    color: $main-color-10;
                    border-color: $main-color-10;


                    //Transistion
                    transition: 0.1s;


                    //Cursor
                    cursor: pointer;
                }
            }
        }

        //DropDown
        .DropDown {

            //Size
            width: 400px;
            height: 90%;


            //Margin
            margin-right: 20px;


            position: relative;
            display: block;


            //Hover
            &:hover .DropDownContent {

                //Display
                display: block;
            }


            //DropDownButton
            .DropDownButton {

                //Size
                width: 100%;
                height: 100%;


                //Font:
                font-family: $roboto;
                font-size: 30px;
                font-weight: 400;


                //Overflow
                overflow: hidden;


                //Border
                border: 3px solid $main-color-8;


                //Color:
                background-color: $main-color-12;
                color: white;


                //Transition
                transition: 0.3s;


                //Hover
                &:hover {

                    //Color
                    background-color: black;


                    //Border
                    border-color: #33ccff;


                    //Transition
                    transition: 0.3s;


                    //Color
                    color: $main-color-8-2;


                    //Cursor
                    cursor: pointer;
                }


                //Active
                &:Active {
                    //Color
                    background-color: black;


                    //Border
                    border-color: $main-color-10;


                    //Transition
                    transition: 0.3s;


                    //Color
                    color: $main-color-10;


                    //Cursor
                    cursor: pointer;
                }
            }


            //DropDownContent
            .DropDownContent {

                //Size
                width: 100%;
                height: 100%;


                display: none;
                position: absolute;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 3;


                //Hover
                &:hover {
                    display: block;
                }


                //DropDownContentItem
                .DropDownContentItem {

                    //Size
                    width: 100%;
                    height: 100%;


                    //Font:
                    font-family: $roboto;
                    font-size: 30px;
                    font-weight: 400;


                    //Color
                    background-color: $main-color-12;
                    color: white;


                    //Padding
                    padding: 10px;


                    //Display
                    display: block;


                    //Text
                    text-decoration: none;


                    //Border
                    border: 3px solid $main-color-2;


                    //Hover
                    &:hover {

                        //Color
                        background-color: black;


                        //Border
                        border-color: #33ccff;


                        //Transition
                        transition: 0.3s;


                        //Color
                        color: $main-color-8-2;


                        //Cursor
                        cursor: pointer;
                    }


                    //Active
                    &:Active {
                        //Color
                        background-color: black;


                        //Border
                        border-color: $main-color-10;


                        //Transition
                        transition: 0.3s;


                        //Color
                        color: $main-color-10;


                        //Cursor
                        cursor: pointer;
                    }


                    //DropDownContentItemLink
                    .DropDownContentItemLink {

                        //Display
                        display: inline;


                        //Text
                        text-decoration: none;


                        //Color
                        color: white;


                        //Hover
                        &:hover {

                            //Color
                            color: $main-color-8-2;
                        }


                        //Active
                        &:Active {
                            //Color
                            background-color: black;


                            //Border
                            border-color: $main-color-10;


                            //Transition
                            transition: 0.3s;


                            //Color
                            color: $main-color-10;
                        }


                        //Visited
                        &:visited {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}