@import '../../StyleConstants.scss';

//variables
$like-arrow-font-size: 50px;
$like-arrow-base-color: white;
$like-arrow-background-color: transparent;
$like-arrow-up-active-color: green;
$like-arrow-down-active-color: red;


.PostBig {
    //Size
    width: 100%;
    height: 750px;
    max-height: 750px;
    min-width: 600px;


    //Position
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;


    //Overflow
    overflow: hidden;


    //Flex
    display: flex;
    flex-direction: row;


    //Color
    background-color: $main-color-9;
    border: 2px solid $main-color-8;
    border-radius: 20px;
    box-shadow: 12px 13px 24px 0px $main-color-9;


    //Like SideBar
    .likeSideBar {
        //Size
        flex-basis: 13%;
        padding: 10px;


        .likeContainer {

            //Size
            height: 300px;

            //Flex
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;


            //LikeUp Button
            .likeUpButton {
                //Size
                width: 80%;
                height: 25%;


                //Font
                font-size: $like-arrow-font-size;


                //Color
                color: $like-arrow-base-color;
                background-color: $main-color-11;
                border: 2px solid $main-color-5;
                border-radius: 10px;

                &:hover {
                    border: 2px solid $like-up-color-1;
                    color: $like-up-color-1;


                    //Cursor
                    cursor: pointer;
                }

                &-Active {
                    @extend .likeUpButton;

                    //Size
                    width: 80%;
                    height: 25%;


                    //Font
                    font-size: $like-arrow-font-size;


                    //Color
                    border: 2px solid $like-up-color-1;
                    color: $like-up-color-1;

                    &:hover {
                        border: 2px solid $like-up-color-2;
                        color: $like-up-color-2;


                        //Cursor
                        cursor: pointer;
                    }
                }

            }


            //LikeDownButton
            .likeDownButton {
                //Size
                width: 80%;
                height: 25%;


                //Font
                font-size: $like-arrow-font-size;


                //Color
                color: $like-arrow-base-color;
                background-color: $main-color-11;
                border: 2px solid $main-color-5;
                border-radius: 10px;

                &:hover {
                    border: 2px solid $like-down-color-1;
                    color: $like-down-color-1;


                    //Cursor
                    cursor: pointer;
                }

                &-Active {
                    @extend .likeDownButton;

                    //Size
                    width: 80%;
                    height: 25%;


                    //Font
                    font-size: $like-arrow-font-size;


                    //Color
                    border: 2px solid $like-down-color-1;
                    color: $like-down-color-1;

                    &:hover {
                        border: 2px solid $like-down-color-2;
                        color: $like-down-color-2;


                        //Cursor
                        cursor: pointer;
                    }
                }
            }


            //LikeCounter
            .likeCounter {
                //Size
                width: 80%;
                height: 20%;


                //Flex
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;


                //Font
                font-family: $noto;
                font-size: 25px;
                font-weight: 400;


                //Color
                background-color: $main-color-11;
                border: 2px solid $main-color-5;
                color: $main-color-5;
            }
        }
    }

    //Right Part of Post
    .Main {
        //Size
        width: 100%;


        //Flex
        display: flex;
        flex-direction: column;


        //Border
        border-left: 2px solid $main-color-8;


        .Information {
            //Size
            width: 100%;
            height: 25%;


            //Date
            .Date {

                //Size
                width: 100%;
                height: 25%;


                //Padding
                padding: 10px;


                //Font
                font-family: $roboto;
                font-size: 20px;


                //Text
                text-align: right;
                letter-spacing: 5px;


                //Color
                color: white;


                //Border
                border-bottom: 2px solid $main-color-2;

            }


            //UserNameANDpostCategory
            .UserNameANDpostCategory {
                //Size
                width: 100%;
                height: 30%;


                //Padding
                padding: 10px;

                //Flex
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;


                //Color
                border-bottom: 2px solid $main-color-2;


                //UserNameLabel
                .UserNameLabel {

                    //Font
                    font-family: $roboto;
                    font-weight: 400;
                    font-size: 30px;

                    box-sizing: border-box;
                    display: block;


                    //color
                    color: $main-color-8;


                    .UserName {
                        display: inline;
                        color: $main-color-5;
                    }

                    
                    //:hover
                    &:hover {
                        
                        //Cursor
                        cursor: pointer;
                    }
                }


                //PostCategoryLabel
                .PostCategoryLabel {
                    //Font
                    font-family: $roboto;
                    font-weight: 400;
                    font-size: 30px;



                    //Padding
                    padding: 10px;

                    box-sizing: border-box;
                    display: block;


                    //color
                    color: $main-color-8;


                    >.PostCategoryField {
                        display: inline;
                        color: $main-color-5;
                    }
                }


                //EditPostCategory
                .EditPostCategory {
                    //Size
                    width: 40%;
                    height: 100%;


                    //Padding
                    padding: 10px;
                    overflow: hidden;


                    //Font
                    font-family: $roboto;
                    font-weight: 200;
                    font-size: 25px;


                    //Border
                    border: 3px solid $main-color-2;
                    border-radius: 10px;
                    outline: none;


                    //Color
                    color: black;
                    background-color: $main-color-5;


                    &:focus {
                        border: 3px solid $main-color-10;
                        border-radius: 10px;
                    }
                }
            }

            .Title {
                //Size
                width: 100%;
                height: 45%;


                //Padding
                padding: 10px;
                overflow: hidden;


                //Font
                font-family: $roboto;
                font-weight: 200;
                font-size: 45px;


                //Color
                color: $main-color-5;
                border-bottom: 2px solid $main-color-2;


                //EditTitle
                >.EditTitle {
                    //Size
                    width: 100%;
                    height: 80%;


                    //Padding
                    padding: 10px;
                    overflow: hidden;


                    //Font
                    font-family: $roboto;
                    font-weight: 200;
                    font-size: 25px;


                    //Border
                    border: 3px solid $main-color-2;
                    border-radius: 10px;
                    outline: none;


                    //Color
                    color: black;
                    background-color: $main-color-5;


                    &:focus {
                        border: 3px solid $main-color-10;
                        border-radius: 10px;
                    }
                }
            }

        }

        .PostContent {
            //Size
            width: 100%;
            height: 70%;


            //Flex
            flex-grow: 1;
            display: flex;
            flex-direction: column;


            //Text
            .Text {
                //Size
                width: 100%;
                flex-basis: 25%;
                flex-grow: 1;


                //Padding
                padding: 10px;


                //Font
                font-family: $noto;
                font-weight: 400;
                font-size: 20px;


                //Color
                background-color: $main-color-9;
                border-bottom: 2px solid $main-color-2;
                color: white;
            }

            .EditText {

                //Size
                width: 100%;
                resize: none;


                //Flex
                flex-basis: 25%;
                flex-grow: 1;


                //Padding
                padding: 10px;


                //Font
                font-family: $noto;
                font-weight: 400;
                font-size: 15px;


                //Border
                border: 3px solid $main-color-2;
                outline: none;


                //Color
                color: black;
                background-color: $main-color-5;


                &:focus {
                    border: 3px solid $main-color-10;
                }
            }

            //Photos
            .Photos {

                //Size
                width: 100%;
                flex-basis: 75%;


                overflow: hidden;


                //Color
                background-color: $main-color-1;


                //Top
                .Top {

                    //Size
                    width: 100%;
                    height: 100%;


                    //Padding
                    padding: 10px;


                    //Flex
                    display: flex;
                    flex-direction: row;


                    //ButtonContainer
                    .ButtonContainer {

                        //Size
                        width: 10%;
                        height: 100%;


                        //:hover
                        &:hover {

                            //Cursor
                            cursor: pointer;
                        }


                        //Button
                        >.Button {

                            //Size
                            width: 100%;
                            height: 100%;


                            //Padding
                            padding: 10px;


                            //Flex
                            display: flex;
                            align-items: center;
                            justify-content: center;



                            //Font
                            font-size: 100px;


                            //Color
                            color: white;


                            //Border
                            border: 5px solid white;


                            //Hover
                            &:hover {

                                //Color
                                color: $main-color-8;
                                border-color: $main-color-8;
                                background-color: black;
                            }


                            //:active
                            &:active {

                                //Color
                                color: $main-color-10;
                                border-color: $main-color-10;
                                background-color: black;
                            }
                        }
                    }


                    //Botton
                    .Bottom {

                        //Size
                        width: 80%;
                        height: 100%;


                        //Flex
                        display: flex;
                        flex-direction: column;


                        //Img
                        img {

                            width: 100%;
                            height: 90%;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            object-fit: contain;

                            flex-grow: 1;
                        }


                        //Page
                        .Page {

                            //Size
                            width: 100%;
                            height: 20%;


                            //Padding
                            padding: 10px;


                            //Font
                            font-family: $roboto;
                            font-size: 20px;


                            //Text
                            text-align: center;


                            //Color
                            color: white;
                        }
                    }
                }
            }
        }
    }

    //ManipulationPanel
    .ManipulationPanel {

        //Size
        height: 100%;


        //Flex
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-basis: 10%;



        //Padding
        padding: 10px;


        //Color
        background-color: $main-color-9;


        //Border
        border-left: 2px solid $main-color-8;


        //ManipulationButton
        .ManipulationButton {
            //Size
            width: 100%;
            height: 40%;


            //Font
            font-size: $like-arrow-font-size;
        }


        //EditButton
        .EditButton {
            @extend .ManipulationButton;

            //Color
            color: $like-arrow-base-color;
            background-color: $main-color-11;
            border: 3px solid $main-color-4;


            &:hover {
                border: 3px solid $edit-color-1;
                color: $edit-color-1;
                background-color: $main-color-11;
            }


            &-Active {
                @extend .ManipulationButton;

                //Color
                color: $edit-color-1;
                background-color: $main-color-11;
                border: 3px solid $edit-color-1;

                &:hover {

                    color: $edit-color-2;
                    background-color: $main-color-1;
                    border: 3px solid $edit-color-2;
                }
            }
        }




        //DeleteButton
        .DeleteButton {
            @extend .ManipulationButton;

            //Color
            color: $like-arrow-base-color;
            background-color: $main-color-11;
            border: 3px solid $main-color-4;


            &:hover {
                border: 3px solid $delete-color-1;
                color: $delete-color-1;
            }
        }


        //SaveButton
        .SaveButton {
            @extend .ManipulationButton;

            //Color
            color: $like-arrow-base-color;
            background-color: $main-color-11;
            border: 3px solid $main-color-4;


            &:hover {
                border: 3px solid $save-color-1;
                color: $save-color-1;
            }
        }
    }
}


.PostBig-Short {
    @extend .PostBig;

    height: 750px;

    >.Main {

        //Size
        width: 100%;


        //Flex
        display: flex;
        flex-direction: column;


        //Border
        border-left: 2px solid $main-color-8;



        >.Information {
            //Size
            width: 100%;
            height: 25%;


            //UserNameANDpostCategory
            .UserNameANDpostCategory {
                //Size
                width: 100%;
                height: 35%;


                //Padding
                padding: 10px;

                //Flex
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;


                //Color
                border-bottom: 2px solid $main-color-2;


                //UserNameLabel
                .UserNameLabel {

                    //Font
                    font-family: $roboto;
                    font-weight: 400;
                    font-size: 30px;



                    //Padding
                    padding: 10px;

                    box-sizing: border-box;
                    display: block;


                    //color
                    color: $main-color-8;


                    //Hover
                    &:hover {

                        //Cursor
                        cursor: pointer;
                    }


                    .UserName {
                        display: inline;
                        color: $main-color-5;
                    }
                }


                //PostCategoryLabel
                .PostCategoryLabel {
                    //Font
                    font-family: $roboto;
                    font-weight: 400;
                    font-size: 30px;



                    //Padding
                    padding: 10px;

                    box-sizing: border-box;
                    display: block;


                    //color
                    color: $main-color-8;


                    >.PostCategoryField {
                        display: inline;
                        color: $main-color-5;
                    }
                }
            }

            .Title {
                //Size
                width: 100%;
                height: 40%;


                //Padding
                padding: 10px;
                overflow: hidden;


                //Font
                font-family: $roboto;
                font-weight: 200;
                font-size: 45px;


                //Color
                color: $main-color-5;
                border-bottom: 2px solid $main-color-2;


                //Hover
                &:hover {

                    //Cursor
                    cursor: pointer;
                }
            }
        }


        >*~.PostContent {
            //Size
            width: 100%;
            height: 40%;


            //Text
            >.Text {
                //Size
                width: 100%;
                height: 1000%;


                //Padding
                padding: 10px;


                //Font
                font-family: $noto;
                font-weight: 400;
                font-size: 20px;


                //Color
                background-color: $main-color-9;
                border-bottom: 2px solid $main-color-2;
                color: white;


                //Hover
                &:hover {

                    //Cursor
                    cursor: pointer;
                }
            }
        }
    }
}