@import '../../StyleConstants.scss';

//variables
$like-arrow-font-size: 50px;
$like-arrow-base-color: white;
$like-arrow-background-color: transparent;
$like-arrow-up-active-color: green;
$like-arrow-down-active-color: red;


.PostBig {
    //Size
    width: 100%;
    height: 750px;
    max-height: 750px;
    min-width: 600px;


    //Position
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;


    //Flex
    display: flex;
    flex-direction: row;


    //Color
    border: 2px solid purple;
    border-radius: 20px;


    //Like SideBar
    .likeSideBar {
        //Size
        flex-basis: 8%;


        .likeContainer {

            //Size
            height: 200px;

            //Flex
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;


            //LikeUp Button
            .likeUpButton {
                //Size
                width: 80%;
                height: 30%;


                //Font
                font-size: $like-arrow-font-size;


                //Color
                color: $like-arrow-base-color;
                background-color: $like-arrow-background-color;

                &-Active {
                    //Size
                    width: 80%;
                    height: 30%;


                    //Font
                    font-size: $like-arrow-font-size;


                    //Color
                    background-color: $like-arrow-background-color;
                    color: $like-arrow-up-active-color;
                }
                
            }
            .likeUpButton:hover, .likeUpButton-Active:hover {
                border: 2px solid $like-arrow-up-active-color;
            }


            //LikeDownButton
            .likeDownButton {
                //Size
                width: 80%;
                height: 30%;

                //Font
                font-size: $like-arrow-font-size;


                //Color
                color: $like-arrow-base-color;
                background-color: $like-arrow-background-color;

                &-Active
                {
                    //Size
                    width: 80%;
                    height: 30%;


                    //Font
                    font-size: $like-arrow-font-size;


                    //Color
                    background-color: $like-arrow-background-color;
                    color: $like-arrow-down-active-color;
                }
            }
            .likeDownButton:hover, .likeDownButton-Active:hover {
                border: 2px solid $like-arrow-down-active-color;
            }


            //LikeCounter
            .likeCounter {
                //Size
                width: 80%;
                height: 20%;


                //Flex
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;


                //Color
                background-color: rgb(104, 104, 148);
            }
        }
    }

    //Right Part of Post
    .Main {
        //Size
        width: 100%;


        //Flex
        display: flex;
        flex-direction: column;


        //Color
        border: 2px solid rgb(230, 17, 250);


        .Information {
            //Size
            width: 100%;
            height: 20%;

            //Color
            border: 2px solid rgb(76, 138, 107);


            .UserNameANDpostCategory {
                //Size
                width: 100%;
                height: 50%;


                //Padding
                padding: 10px;

                //Flex
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;


                //Color
                background-color: yellow;
            }

            .Title {
                //Size
                width: 100%;
                height: 50%;

                //Padding
                padding: 10px;
                overflow: hidden;

                //Color
                background-color: rgb(36, 216, 207);
            }
        }

        .PostContent {
            //Size
            width: 100%;
            height: 80%;

            flex-grow: 1;
            

            display: flex;
            flex-direction: column;



            //Color
            border: 2px solid rgb(255, 0, 0);


            //Text
            .Text {
                //Size
                width: 100%;
                height: 25%;
                
                padding: 10px;

                //Flex


                //Color
                border: 2px solid rgb(4, 224, 114);
            }

            //Photos
            .Photos {
                //Size
                width: 100%;
                max-height: 75%;


                overflow: hidden;


                //Color
                border: 2px solid rgb(0, 140, 255);


                .image {
                    width: 100%;
                    max-height: 100%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    object-fit: contain;
                }
            }
        }
    }

    //ManipulationPanel
    .ManipulationPanel {

        //Size
        height: 100%;


        //Flex
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-basis: 10%;



        //Padding
        padding: 10px;


        //Color
        border: 2px solid rgb(0, 0, 0);


        //ManipulationButton
        .ManipulationButton {
            //Size
            width: 100%;
            height: 40%;


            //Font
            font-size: $like-arrow-font-size;
        }


        //EditButton
        .EditButton {
            @extend .ManipulationButton;
            
             //Color
             color: $like-arrow-base-color;
             background-color: $like-arrow-background-color;
        }
        .EditButton:hover {
            border: 2px solid $edit-button-hover-color;
            color: $edit-button-hover-color;
        }
        

        //DeleteButton
        .DeleteButton {
             @extend .ManipulationButton;

             //Color
             color: $like-arrow-base-color;
             background-color: $like-arrow-background-color;
        }
        .DeleteButton:hover {
            border: 2px solid $delete-button-hover-color;
            color: $delete-button-hover-color;
        }


        //SaveButton
        .SaveButton {
            @extend .ManipulationButton;

            //Color
            color: $like-arrow-base-color;
            background-color: $like-arrow-background-color;
        }
        .SaveButton:hover {
            border: 2px solid $save-button-hover-color;
            color: $save-button-hover-color;
        }
    }
}