@import '../../StyleConstants.scss';


.User {

    //Size
    width: 1400px;
    height: 800px;


    //Margin
    margin-left: auto;
    margin-right: auto;


    //Flex
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


    //Color
    background-color: $main-color-1;


    //Border
    border: 2px solid $main-color-8;


    //Info
    .Info {

        //Size
        width: 400px;
        height: 100%;


        //Border
        border-right: 2px solid $main-color-8;


        //UserInformation
        .UserInformation {
            //Flex
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            height: 40%;
            min-width: 250px;


            //Padding
            padding: 10px;


            //Border
            //border-bottom: 2px solid $main-color-8;


            //UserNameLabel
            .UserNameLabel {

                //Font
                font-family: $roboto;
                font-weight: 400;
                font-size: 30px;


                //Padding
                padding: 10px;


                //Display
                box-sizing: border-box;
                display: block;


                //color
                color: $main-color-8;


                //Text
                text-align: center;


                .UserName {
                    display: inline;
                    color: $main-color-5;
                }
            }


            //UserImage
            .UserImage {
                //Size
                width: 250px;
                height: 250px;


                //Position
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;


                //Image
                object-fit: cover;


                //Color
                border: 4px solid $main-color-2;
                background-color: $main-color-5;
            }
        }


        //UserStats
        .UserStats {
            
            //Size
            width: 100%;
            height: 35%;


            //Padding
            padding: 20px;


            //Flex
            display: flex;
            flex-direction: column;


            //StatContainer
            .StatContainer {

                //Size
                width: 100%;
                height: 50%;


                //Margin
                margin-bottom: 20px;

                
                //Flex
                display: flex;
                flex-direction: row;


                //StatLabel
                .StatLabel {

                    //Size
                    width: 60%;
                    height: 100%;


                    //Padding
                    padding: 10px;


                    //Font
                    font-family: $roboto;
                    font-size: 35px;


                    //Flex
                    display: flex;
                    align-items: center;


                    //Color
                    color: $main-color-8;
                    background-color: $main-color-11;
                    border: 2px solid $main-color-2;
                }


                //StatValue
                .StatValue {

                    //Size
                    width: 40%;
                    height: 100%;


                    //Padding
                    padding: 10px;


                    //Font
                    font-family: $roboto;
                    font-size: 45px;
                    font-weight: 900;


                    //Flex
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    //Border
                    border: 2px solid $main-color-2;
                    border-left: none;


                    //Color
                    background-color: $main-color-12;
                    color: white;


                }
            }


            //StatContainer-Posts
            .StatContainer-Posts {
                @extend .StatContainer;

                //Color
                color: $main-color-8;
                border: 2px solid $main-color-2;


                //Hover
                &:hover .StatLabel {

                    //Color
                    color: $main-color-10;
                    border-color: $main-color-10;


                    //Cursor
                    cursor: pointer;
                }

                &:hover .StatValue {

                    //Color
                    color: $main-color-10;
                    border-color: $main-color-10;


                    //Cursor
                    cursor: pointer;
                }


                //StatLabel
                .StatLabel {

                    //Size
                    width: 60%;
                    height: 100%;


                    //Padding
                    padding: 10px;


                    //Font
                    font-family: $roboto;
                    font-size: 35px;


                    //Flex
                    display: flex;
                    align-items: center;


                    //Color
                    color: $main-color-8;
                    background-color: $main-color-11;
                    //border: 2px solid $main-color-2;
                }


                //StatValue
                .StatValue {

                    //Size
                    width: 40%;
                    height: 100%;


                    //Padding
                    padding: 10px;


                    //Font
                    font-family: $roboto;
                    font-size: 45px;
                    font-weight: 900;


                    //Flex
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    //Border
                    //border: 2px solid $main-color-2;
                    //border-left: none;


                    //Color
                    background-color: $main-color-12;
                    color: white;
                }
            }
        }

        //SaveButtonContainer
        .SaveButtonContainer {

            //Size
            height: 25%;
            width: 100%;
            

            //Flex
            display: flex;
            flex-direction: column;
            justify-content: center;


            //SaveButton
            .SaveButton {
                
                //Size 
                width: 90%;
                height: 50%;


                //Margin
                margin-left: auto;
                margin-right: auto;


                //Font
                font-family: $roboto;
                font-size: 50px;


                //Color
                background-color: $main-color-11;
                color: white;


                //Border
                border: 2px solid white;
                border-radius: 20px;


                //Hover
                &:hover {

                    //Color
                    color: $main-color-8;
                    border-color: $main-color-8;
                    background-color: $main-color-1;


                    //Cursor
                    cursor: pointer;
                }


                //Active
                &:active {

                    //Color
                    color: $main-color-10;
                    border-color: $main-color-10;
                    background-color: $main-color-1;


                    //Cursor
                    cursor: pointer;
                }
            }
        }
    }


    //Display
    .Display {

        //Size
        height: 100%;


        //Flex
        flex-grow: 1;


        //UserDataView
        .UserDataView {

            //Size
            height: 100%;
            width: 100%;


            //Padding
            padding: 10px;


            //Information
            .Information {

                //Size
                width: 100%;
                height: 10%;


                //Font
                font-family: $roboto;
                font-size: 50px;


                //Margin
                margin-bottom: 10px;


                //Padding
                padding: 10px;


                //Color
                color: $main-color-8;
            }


            //UserDataView
            .UserDataViewDisplay {

                //Size
                width: 100%;
                height: 90%;


                //Padding
                padding: 20px;


                //UserInformation
                .UserInformation {

                    //Size
                    width: 100%;
                    height: 90px;


                    //Margin
                    margin-bottom: 20px;


                    //Flex
                    display: flex;
                    flex-direction: row;


                    //Color
                    background-color: $main-color-11;


                    //Border
                    border: 2px solid $main-color-2;



                    //UserInformationLabel
                    .UserInformationLabel {

                        //Size
                        width: 30%;
                        height: 100%;


                        //Flex
                        display: flex;
                        align-items: center;


                        //Font
                        font-family: $roboto;
                        font-size: 40px;


                        //Padding
                        padding: 10px;


                        //Border
                        border-right: 2px solid $main-color-2;

                        //Color
                        color: white;
                    }


                    //UserInformationValue
                    .UserInformationValue {

                        //Size
                        width: 70%;
                        height: 100%;


                        //Flex
                        display: flex;
                        align-items: center;


                        //Font
                        font-family: $noto;
                        font-size: 30px;


                        //Padding
                        padding: 10px;


                        //Color
                        background-color: $main-color-12;
                        color: white;


                        &-Input {
                            @extend .UserInformationValue;


                            //Input
                            outline: none;


                            //Border
                            border : 2px solid transparent;


                            &:focus {

                                //Border
                                border : 2px solid $main-color-10;
                            }
                        }
                    }
                }


                //UserDescription
                .UserDescription {
                    @extend .UserInformation;

                    
                    //Size
                    width: 100%;
                    height: 430px;

                    
                    //Flex
                    flex-direction: column;


                    //UserDesriptionLabel
                    .UserDescriptionLabel {
                        @extend .UserInformationLabel;

                        
                        //Size
                        width: 100%;
                        height: 30%;
                    }


                    //UserDescriptionValue
                    .UserDescriptionValue {
                        @extend .UserInformationValue;

                        //Size
                        width: 100%;
                        height: 70%;


                        //Flex
                        align-items: flex-start;


                        //Font
                        font-size: 25px;


                        //Input
                        &-Input {
                            @extend .UserDescriptionValue;


                            //TextArea
                            resize: none;
                            outline: none;


                            //Overflow
                            overflow-x: hidden;

                            
                            //Fcous
                            &:focus {

                                //Border
                                border: 2px solid $main-color-10;
                            }
                        }
                    }
                }
            }
        }


        //UserAccountControlView
        .UserAccountControlView {
            @extend .UserDataView;

            //Flex
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            

            //PasswordControl
            .PasswordControl {

                //Flex
                display: flex;
                flex-direction: column;
                align-items: center;

                //Information
                > .Information {
                    @extend .Information;


                    //Font
                    font-family: $noto;
                    font-size: 40px;


                    //Margin
                    margin-bottom: 20px;


                    //Color
                    color: $main-color-8;
                }


                //Field
                > .Field {

                    //Size
                    width: 100%;
                    height: 90px;


                    //Flex
                    display: flex;
                    flex-direction: row;


                    //Margin
                    margin-bottom: 20px;


                    //Border
                    border: 2px solid $main-color-2;


                    //-Invalid
                    &-Invalid {
                        @extend .Field;

                        //Color:
                        border-color: red;
                    }


                    //FieldLabel
                    .FieldLabel {

                        //Size
                        width: 30%;
                        height: 100%;


                        //Padding
                        padding: 10px;


                        //Flex
                        display: flex;
                        align-items: center;


                        //Font
                        font-family: $roboto;
                        font-size: 30px;


                        //Border
                        border-right: 2px solid $main-color-2;
                        

                        //Color
                        color: white;
                        background-color: $main-color-11;

                    }


                    //FieldValue
                    .FieldValue {

                        //Size
                        width: 70%;
                        height: 100%;


                        //Padding
                        padding: 10px;


                        //Font
                        font-family: $noto;
                        font-size: 30px;


                        //Text
                        letter-spacing: 2px;
                        

                        //InputSpecfic
                        outline: none;

                        //Color
                        color: $main-color-10;
                        background-color: $main-color-12;


                        //Focus
                        &:focus {

                            //Border
                            border: 2px solid $main-color-10;
                        }
                    }
                }


                //Button
                & > * ~ .Button {

                    //Size
                    width: 60%;
                    height: 70px;


                    //Margin
                    margin-left: auto;
                    margin-right: auto;


                    //Font
                    font-family: $roboto;
                    font-size: 30px;


                    //Color
                    background-color: $main-color-12;
                    color: white;


                    //Border
                    border-radius: 20px;
                    border: 2px solid white;


                    //Hover
                    &:hover {
                        
                        //Color
                        border-color: $main-color-10;
                        color: $main-color-10;
                        background-color: black;
                    }


                    //Active
                    &:active {

                        //Color
                        border-color: $main-color-6;
                        color: $main-color-6;
                    }
                }
            }


            //DeleteAccountControl
            .DeleteAccountControl {
                @extend .PasswordControl;


                //Flex
                display: flex;
                flex-direction: column;
                justify-content: space-between;


                //Button
                .DeleteAccount {

                    //Size
                    width: 60%;
                    height: 70px;


                    //Margin
                    margin-left: auto;
                    margin-right: auto;


                    //Font
                    font-family: $roboto;
                    font-size: 30px;


                    //Color
                    background-color: $main-color-12;
                    color: white;


                    //Border
                    border-radius: 20px;
                    border: 2px solid white;


                    //Hover
                    &:hover {
                        
                        //Color
                        border-color: $main-color-10;
                        color: $main-color-10;
                        background-color: black;
                    }


                    //Active
                    &:active {

                        //Color
                        border-color: $main-color-6;
                        color: $main-color-6;
                    }
                }
            }
        }


        //ChangePictureView
        .ChangePictureView {

            //Size
            width: 740px;
            height: 100%;


            //Padding
            padding: 20px;


            //Flex
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;


            //InfoContainer
            > .InfoContainer {

                //Size
                width: 100%;
                height: 400px;


                //Information
                .Information {

                    //Size
                    width: 100%;
                    height: 100px;


                    //Font
                    font-family: $roboto;
                    font-size: 55px;


                    //Text
                    letter-spacing: 4px;
                    text-align: center;


                    //Color
                    color: $main-color-8;
                }


                //Description
                .Description {

                    //Size
                    width: 100%;
                    height: 300px;


                    //Padding
                    padding: 10px;


                    //Font
                    font-family: $noto;
                    font-size: 35px;


                    //Text
                    text-align: center;


                    //Border
                    border: 2px solid $main-color-2;


                    //Color
                    color: white;
                    background-color: $main-color-11;
                }
            }


            //InputContainer
            > * ~  .InputContainer {
                
                //Size
                width: 100%;
                height: 300px;


                //Flex
                display: flex;
                flex-direction: column;
                justify-content: space-between;


                //InputField
                .InputField {

                    //Size
                    width: 100%;
                    height: 100px;

                    
                    //Margin
                    margin-bottom: 20px;

                    
                    //Flex
                    display: flex;

                    
                    //Margin
                    margin-left: auto;
                    margin-right: auto;


                    border: 2px solid $main-color-2;


                    //InputLabel
                    .InputFieldLabel {

                        //Size
                        width: 30%;
                        height: 100%;


                        //Padding
                        padding: 10px;


                        //Font
                        font-family: $roboto;
                        font-size: 45px;


                        //Flex
                        display: flex;
                        justify-content: center;
                        align-items: center;


                        //Color
                        color: $main-color-8;
                        background-color: $main-color-11;


                        //Border
                        border-right: 1px solid $main-color-2;
                    }


                    > * ~ input {

                        //Size
                        width: 70%;
                        height: 100%;
                        

                        //Font
                        font-size: 40px;


                        //Color
                        color: white;
                    }
                }


                //Button
                > * ~ .Button {

                    //Size
                    width: 80%;
                    height: 100px;


                    //Margin
                    margin-left: auto;
                    margin-right: auto;


                    //Font
                    font-family: $roboto;
                    font-size: 50px;


                    //Text
                    letter-spacing: 5px;


                    //Border
                    border: 4px solid white;
                    border-radius: 30px;


                    //Color
                    color: white;
                    background-color: $main-color-11;


                    //Hover
                    &:hover {

                        //Color
                        color: $main-color-10;
                        border-color: $main-color-10;
                        background-color: $main-color-1;
                    }
                }
            }
        }


        //AccountChangeFailed 
        .AccountChangeFailed {

            //Size
            width: 100%;
            height: 100%;


            //Padding
            padding: 10px;


            //Flex
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;


            //InfoContainer
            > .InfoContainer {

                //Size
                height: 70%;
                width: 100%;

                //Flex
                display: flex;
                flex-direction: column;
                align-items: center;


                //Information
                .Information {

                    //Size
                    width: 100%;
                    height: 100px;


                    //Margin
                    margin-bottom: 20px;


                    //Font
                    font-family: $roboto;
                    font-size: 65px;
                    font-weight: 600;

                    
                    //Text
                    text-align: center;


                    //Color
                    color: $main-color-10;
                }


                //Description
                .Description {

                    //Size
                    width: 650px;
                    height: 400px;


                    //Padding
                    padding: 10px;


                    //Text
                    text-align: center;


                    //Font
                    font-family: $noto;
                    font-size: 30px;

                    border: 1px solid $main-color-2;


                    //Color
                    color: white;
                }
            }

            > * ~ .GoBackButton {

                //Size
                width: 70%;
                height: 100px;


                //Padding
                padding: 10px;


                //Font
                font-family: $roboto;
                font-size: 50px;


                //Margin
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;


                //Border
                border: 2px solid white;
                border-radius: 20px;


                //Color
                color: white;
                background-color: $main-color-12;


                //Hover
                &:hover {

                    //Color
                    border-color: $main-color-10;
                    color: $main-color-10;
                    background-color: $main-color-1;
                }
            }
        }
    }

    
    //ManipulationPanel
    .ManipulationPanel {

        //Size
        width: 250px;
        height: 100%;

        
        //Text
        text-align: center;

        
        //Padding
        padding: 10px;


        //Border
        border-left: 2px solid $main-color-8;


        //SwitchButton
        .SwitchButton {

            //Size
            width: 90%;
            height: 100px;


            //Margin
            margin-bottom: 20px;


            //Padding
            padding: 10px;


            //Font
            font-family: $roboto;
            font-size: 50px;


            //Color
            background-color: $main-color-12;
            color: white;


            //Border
            border: 2px solid white;
            

            //Hover
            &:hover {

                //Color
                color: $main-color-8;
                background-color: $main-color-1;
                border-color: $main-color-8;


                //Cursor
                cursor: pointer;
            }

            
            //Active
            &:active {

                //Color
                color: $edit-color-1;
                background-color: $main-color-1;
                border-color: $edit-color-1;


                //Cursor
                cursor: pointer;
            }    


            //EditMode
            &-Active {
                @extend .SwitchButton;

                //Color
                color: $edit-color-1;
                background-color: $main-color-1;
                border-color: $edit-color-1;


                //Hover
                &:hover {

                    //Color
                    color: $edit-color-2;
                    background-color: $main-color-1;
                    border-color: $edit-color-2;


                    //Cursor
                    cursor: pointer;
                }
            }
        }
    }
}