//variables
$like-arrow-font-size: 50px;
$like-arrow-base-color: white;
$like-arrow-background-color: transparent;
$like-arrow-up-active-color: green;
$like-arrow-down-active-color: red;


.PostSmall {
    //Size
    width: 60%;
    height: 600px;
    min-width: 600px;


    //Overflow
    overflow: hidden;


    //Position
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;


    //Flex
    display: flex;
    flex-direction: row;


    //Color
    background-color: rgb(241, 219, 219);
    border: 2px solid purple;


    //Like SideBar
    &__likeSideBar {
        //Size
        width: 20%;
        height: 100%;


        //Color
        background-color: salmon;


        &__likeContainer {

            //Size
            height: 200px;

            //Flex
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;


            //LikeUp Button
            &__likeUpButton, &__likeDownButton{
                //Size
                width: 80%;
                height: 30%;


                //Font
                font-size: $like-arrow-font-size;


                //Color
                color: $like-arrow-base-color;
                background-color: $like-arrow-background-color;

                &-Active {
                    //Size
                    width: 80%;
                    height: 30%;


                    //Font
                    font-size: $like-arrow-font-size;


                    //Color
                    background-color: $like-arrow-background-color;
                    color: $like-arrow-up-active-color;
                }
            }


            //LikeDownButton
            &__likeDownButton {
                //Size
                width: 80%;
                height: 30%;

                //Font
                font-size: $like-arrow-font-size;


                //Color
                color: $like-arrow-base-color;
                background-color: $like-arrow-background-color;

                &-Active
                {
                    //Size
                    width: 80%;
                    height: 30%;


                    //Font
                    font-size: $like-arrow-font-size;


                    //Color
                    background-color: $like-arrow-background-color;
                    color: $like-arrow-down-active-color;
                }
            }


            //LikeCounter
            &__likeCounter {
                //Size
                width: 80%;
                height: 20%;


                //Flex
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;


                //Color
                background-color: rgb(104, 104, 148);
            }
        }
    }

    //Right Part of Post
    &__Main {
        //Size
        width: 100%;
        height: 400px;


        //Flex
        display: flex;
        flex-direction: column;


        //Color
        background-color: rgb(113, 114, 114);


        &__Information {
            //Size
            width: 100%;

            flex-grow: 1.5;

            //Color
            background-color: rgb(76, 138, 107);


            &__UserNameANDpostCategory {
                //Size
                width: 100%;
                height: 40%;

                //Flex
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;


                //Color
                background-color: yellow;
            }

            &__Title {
                //Size
                width: 100%;
                height: 60%;

                //Color
                background-color: rgb(36, 216, 207);
            }
        }

        &__PostContent {
            //Size
            width: 100%;

            display: flex;
            flex-direction: column;
            flex-grow: 8;


            //Color
            background-color: rgb(136, 106, 136);


            //Text
            &__Text {
                //Size
                width: 100%;


                //Flex
                flex-grow: 1.5;


                //Color
                background-color: slateblue;
            }

            //Photos
            &__Photos {
                //Size
                width: 100%;


                //Flex
                flex-grow: 8;


                //Color
                background-color: rgb(207, 84, 84);


                &__image {
                    width: 100%;
                    height: 100%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    object-fit: contain;
                }
            }
        }
    }
}