@import "../../colors";

.Content
{
    //Size
    width: 100%;
    min-height: 1vh;

    //Position
    padding: 30px;

    //Colors
    background-color: $content-background-color;


    //Border
    border: 2px solid #ff00f2;
}