@import '../../StyleConstants.scss';

.header {
    //Size
    width: 100%;


    //Colors
    background-color: $content-background-color;
    

    //bannerImage
    &__bannerImage {

        //Size
        width: 100%;
        height: 126px;


        //Colors
        background-color: $content-background-color;
    }

    &__title {
        //Size
        width: 100%;
        height: 100px;


        //Colors
        background-color: $main-color-1;


        //Border
        border: 2px solid $main-color-8;
    }
}