@import '../../StyleConstants.scss';

.PostBigContainer {
    //Size
    width: 1200px;


    //Position
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 40px;


    //Color
    background-color: $content-background-color;
}   