@import "../../StyleConstants";


//Animations
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.Loading
{
    //Size
    width: $component-base-width;
    height: $component-base-height;


    //Padding
    padding: 20px;


    //Margin
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;


    //Flex
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
    //Color
    background-color: $main-color-1;


    //Border
    border: 2px solid $main-color-10;


    .Information {

        //Size
        width: 100%;


        //Font
        font-family: $roboto;
        font-size: 70px;
        font-weight: 900;


        //Padding
        padding: 10px;


        //Margin
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;


        //Text
        text-align: center;


        //Color
        color: $main-color-10;
    }


    //LoadingIcon
    .LoadingIcon {
        //Size
        width: 500px;


        //Position
        margin-right: auto;
        margin-left: auto;
        z-index: 1;


        //Animation
        animation: spin 1s linear infinite;


        //Font
        font-size: 500px;


        //Color
        color: $main-color-10;
    }
}