@import '../../../StyleConstants.scss';

.DeletePostModal {

    //Size
    width: 800px;
    height: 400px;


    //Padding
    padding: 10px;

    //Flex
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    //Color
    border: 2px solid $delete-color-1;
    background-color: $main-color-11;


    //Information
    .Information {
        //Size
        height: 40%;


        //Padding
        padding: 10px;

        
        //Font
        font-family: $roboto;
        font-size: 50px;
        font-weight: 400;


        //Text
        text-align: center;
        text-shadow: 2px 2px #000000;


        //Flex
        display: flex;
        align-items: center;
        justify-content: center;


        //Color
        border: 2px solid $main-color-2;
        background-color: $main-color-9;
        color: white;
    }


     //ActionButtons
     .ActionButtons {
        //Size
        height: 40%;

        //Padding
        padding: 10px;


        //Flex
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .Button {
            //Size
            width: 40%;
            height: 100%;

            
            //Font
            font-size: 50px;


            //Border
            border-radius: 50px;


            //Color
            color: white;
            background-color: $main-color-11;
            border: 3px solid $main-color-4;
        }

        
        //DeleteButton
        .DeleteButton {
            @extend .Button;


            &:hover {
                color: $delete-color-1;
                border: 3px solid $delete-color-1;
            }
        }


        //CancelButton
        .CancelButton {
            @extend .Button;


            &:hover {
                color: $cancel-color-1;
                border: 3px solid $cancel-color-1;
            }
        }
    }
}