@import '../../StyleConstants.scss';

.RegisterForm {

    //Size
    width: 1200px;
    height: 700px;


    //Flex
    display: flex;
    flex-direction: row;


    //Overflow
    overflow: hidden;


    //Color
    background-color: $main-color-9;
    border: 2px solid $main-color-8;
    //border-radius: 30px;
    box-shadow: 4px 4px 8px 0px $main-color-9;


    .PictureBanner {

        //Size
        width: 30%;
        height: 100%;

        object-fit: cover;


        border-right: 2px solid $main-color-8;
    }

    .RightPanel {

        width: 70%;
        height: 100%;

        padding: 10px;


        //LoginInfo
        .RegisterInfo {

            //Size
            width: 100%;
            height: 65%;


            //Padding
            padding: 10px;



            //Flex
            display: flex;
            flex-direction: column;
            align-items: center;


            .InfoLabel {

                //Size
                width: 100%;
                height: 30%;

                //Flex
                display: flex;
                flex-direction: column;
                align-items: center;


                //Margin
                margin-bottom: 25px;


                //Border
                border: 2px solid $main-color-2;


                .InfoText {

                    //Size
                    width: 100%;
                    height: 50%;


                    //Padding
                    padding: 10px;


                    //Font
                    font-family: $roboto;
                    font-size: 40px;


                    //Color
                    color: $main-color-8;
                    text-shadow: 2px 2px #000000;
                    background-color: $main-color-11;
                }


                .InfoInput {
                    //Size
                    width: 100%;
                    height: 50%;


                    //Padding
                    padding: 10px;


                    //Font
                    font-size: 30px;


                    //Outline
                    outline: none;


                    &:focus {
                        border: 2px solid $edit-color-1;
                    }
                }
            }
        }

        .ValidateMessage {

            //Flex
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 15%;


            //Text
            text-align: center;

            .Requirement {
                //Font
                font-size: 20px;
                font-family: $noto;


                //Size
                height: 80%;
                width: 30%;


                //Text


                //Flex
                display: flex;
                justify-content: space-around;
                align-items: center;


                //Color
                color: $main-color-8;


                //Border
                border: 2px solid $main-color-8;
                background-color: $main-color-11;


                &-Invalid {
                    @extend .Requirement;

                    color: red;
                    border: 2px solid red;
                }
            }
        }

        //ManipulationPanel
        .ManipulationPanel {

            //Size
            width: 100%;
            height: 20%;


            //Flex
            display: flex;
            justify-content: space-around;
            flex-grow: 1;


            //Padding
            padding: 10px;


            //Button
            .Button {

                //Size
                width: 100%;
                height: 100%;


                //Font
                font-family: $roboto;
                font-size: 60px;
                font-weight: 700;


                //Border
                border-radius: 20px;
                border: 4px solid white;


                //Color
                background-color: $main-color-11;
                color: white;


                //Transition
                transition: 0.09s;
            }


            //LoginButton
            .RegisterButton {
                @extend .Button;

                &:hover {
                    background-color: black;
                    color: $main-color-8;
                    border: 4px solid $main-color-8;

                    //Transition
                    transition: 0.09s;
                }

                &:active {
                    background-color: black;
                    color: $main-color-10;
                    border: 4px solid $main-color-10;

                    //Transition
                    transition: 0.09s;
                }
            }
        }
    }
}