//Fonts
//Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

$roboto: 'Roboto', sans-serif;
$noto: 'Noto Sans', sans-serif;


//Color
    //MainColors
    $main-color-1: #161616;
    $main-color-2: #595959;
    $main-color-3: #8C8C8C;
    $main-color-4: #BFBFBF;
    $main-color-5: #F2F2F2;
    $main-color-8: #5297E6;
    $main-color-7: #3b3737;
    $main-color-6: #F2A824;
    $main-color-9: #2b2a31;
    $main-color-10: #F57300;
    $main-color-11: #1f1f1e;
    $main-color-12: #292524;
    $main-color-8-2: #33ccff;


    //SubColors
    $like-up-color-1: #51E070;
    $like-up-color-2: #A8FF59;
    $like-down-color-1: #B8002B;
    $like-down-color-2: #F72351;
    $edit-color-1: #F57300;
    $edit-color-2: #bd5f0d;
    $delete-color-1: #B8002B;
    $delete-color-2: #F72351;
    $save-color-1: rgb(26, 225, 240);
    $cancel-color-1: rgb(238, 238, 20);


    //Named
    $content-background-color: rgb(33, 34, 51);


    //Buttons
    $likeUp-button-hover-color: limegreen;
    $likeDown-button-hover-color: red;
    $edit-button-hover-color: rgb(29, 122, 245);
    $delete-button-hover-color: red;
    $save-button-hover-color: rgb(47, 212, 47);
    $cancel-button-hover-color: rgb(84, 197, 190);



//Size
    //Default
    $component-base-width: 800px;
    $component-base-height: 700px;

    
