//Color
    //MainColors
    $main-color-1: #161616;
    $main-color-2: #595959;
    $main-color-3: #8C8C8C;
    $main-color-4: #BFBFBF;
    $main-color-5: #F2F2F2;
    $main-color-6: #5297E6;

    //Other
    $content-background-color: rgb(70, 67, 67);

    //Buttons
    $likeUp-button-hover-color: limegreen;
    $likeDown-button-hover-color: red;
    $edit-button-hover-color: rgb(29, 122, 245);
    $delete-button-hover-color: red;



//Size
    //Default
    $component-base-width: 600px;
    $component-base-height: 600px;
