@import "../../colors";

.EditPost {
    //Size
    width: $component-base-width + 200px;


    //Position
    margin-right: auto;
    margin-left: auto;


    //Flex
    display: flex;
    flex-direction: column;


    //Color
    background-color: darkcyan;


    //Border
    border: 2px solid white;


    //H4
    > h4
    {
        //Size
        padding: 10px;

        //Text
        text-align: center;


        //Font
        font-size: 30px;
    }


    //Content
    .EditPost_Content
    {
        //Size
        width: 100%;
        height: 300px;

        //Flex
        display: flex;
        flex-direction: row;


        //Color
        background-color: darkcyan;


        //LeftPart
        .LeftPart {
            //Size
            width: 50%;
            padding: 10px;


            //Color
            background-color: darkmagenta;
        }


        //RightPart
        .RightPart {
            //Size
            width: 50%;


            //Color
            background-color: rgb(62, 238, 85);
        }
    }


    //UpdateButton
    .UpdateButton {
        //Size
        width: 100%;
        height: 50px;


        //Display
        display: block;


        button
        {
            //Size
            width: 100%;
            height: 100%;
        }
    }
}